<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>AtlasBoard</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="stylesheets/normalize.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="stylesheets/application.css" type="text/css" media="screen" />
</head>
<body class="dashboard-list">
    <h1>Available Dashboards</h1>
    <ul>
        <% dashboards.forEach(function (dashboard) { %>
            <li>
                <a href="<%= dashboard.dashboardName %>">
                    <%= dashboard.friendlyDashboardName %>
                    <%if (dashboard.description){%>
                        <span class="description">
                        <%=dashboard.description%>
                        </span>
                    <%}%>
                </a>
            </li>
        <% }) %>
    </ul>
</body>
</html>
